<div class="container-cards-home">

  <div class="i-card" routerLink="/admin/users/practicante">
    <div class="icon">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>
    <h2 class="ctitle">Monitor</h2>
  </div>
  <div class="i-card" routerLink="/admin/users/practicante">
    <div class="icon">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>
    <h2 class="ctitle">Aprendices</h2>
  </div>
  <div class="i-card" routerLink="/admin/users/admin">
    <div class="icon">
      <ion-icon name="people-outline"></ion-icon>
    </div>
    <h2 class="ctitle">Administrador</h2>
  </div>
</div>