<div class="container-login">
 
  <form >

    <div class="form-group my-2">
      <input type="text" class="form-input-login" name="name"  id="name" placeholder="Nombres">
    </div>
    <div class="form-group my-2">
      <input type="text" class="form-input-login" name="fichasap"  id="fichasap" placeholder="Ficha Sap">
    </div>
    <div class="form-group my-2">
      <input type="text" class="form-input-login" name="correo"  id="correo" placeholder="Correo">
    </div>
    <div class="form-group my-2">
      <input type="password" class="form-input-login" name="password"  id="password" placeholder="Contraseña">
    </div>
    <div class="form-group mt-4">
      <input type="password" class="form-input-login" id="password_confirm" name="password_confirm"  
        placeholder="Confirmar Contraseña">
    </div>
    <div class="container-button mt-4">

      <button type="submit" class="btn-ingresar">registrar</button>
    </div>
    <div class="container-forgot-password">
      <a href="#" routerLink="login">¿Ya tienes una cuenta?</a>
    </div>
  
  </form>
</div>
<div class="circle1">

</div>
<div class="circle2">

</div>