<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="evaluation">
      <ion-icon name="home"></ion-icon>
      <ion-label>Encuestas</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="configuration">
      <ion-icon name="help"></ion-icon>
      <ion-label>Configuracion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>