.container-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: var(--bg-app-custom);
    & form{
        width: 100%;
        padding: 1em;
        z-index: 2;
    }
}

.form-input-login{
    width: 100%;
    border:0;
    border-bottom: 2px solid var(--twhite);
    padding: 0.5em;
    color: var(--twhite);
    outline: none;
    background-color: transparent;
    &::placeholder{
        color: var(--twhite);
        text-transform: uppercase;
    }
}

.container-button{
    width: 100%;
    display: flex;
    justify-content: center;

}
.btn-ingresar{
    background-color: var(--twhite);
    border: 1px solid var(--bg-app-custom);
    border-radius: 25px;
    width: 80%;
    margin: auto;
    padding: .75em 0.5em;
    color: var(--bg-app-custom);
    text-transform: uppercase;
    font-weight: bold;
    
}
div.container-forgot-password{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    & a{
        color: var(--twhite);
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }
}
.circle1{
    position: absolute;
    top: -50px;
    right: -80px;
    width: 200px;
    height:200px;
    border-radius: 50%;
    background-color: #FFB703;
    z-index: 0;
}

.circle2{
    position: absolute;
    bottom: -20px;
    left: -50px;
    width: 200px;
    height:200px;
    border-radius: 50%;
    z-index: 0;
    background-color: #FECC4E;
}
.greeting-message{
    width: 100%;
    padding-left: 1em;
    & h1{
        font-size: 2.5em;
        color: #fff;
        margin-bottom: 0;
    }
    & h2{
        font-size: 3em;
        color: #fff;
        font-weight: bold;
        margin-top: 0;
    }
}